{% extends '@layout/base.html.twig' %}
{% block title %}Landing page{% endblock %}
{% block body %}
    <p>{{ paragraph.one }}</p>
    {% markdown %}
    * one
    * two
    {% endmarkdown %}
{% endblock %}